/* ===========================
   AyaMark v1.0 - Profile Card
=========================== */

.profile-card{
    width:90%;
    max-width:420px;
    margin:40px auto;
    padding:30px;
    border-radius:28px;
    text-align:center;

    background:rgba(255,255,255,.08);
    backdrop-filter:blur(18px);
    -webkit-backdrop-filter:blur(18px);

    border:1px solid rgba(255,255,255,.15);

    box-shadow:
        0 0 40px rgba(255,70,120,.18),
        inset 0 0 1px rgba(255,255,255,.25);

    transition:.35s;
}

.profile-card:hover{
    transform:translateY(-6px);
    box-shadow:0 0 55px rgba(255,70,120,.35);
}

.avatar{
    width:145px;
    height:145px;
    border-radius:50%;
    object-fit:cover;

    border:5px solid rgba(255,255,255,.2);

    box-shadow:
        0 0 30px #ff4d88,
        0 0 60px rgba(255,77,136,.45);

    animation:avatarGlow 3s infinite alternate;
}

@keyframes avatarGlow{
    from{
        box-shadow:
        0 0 20px #ff4d88;
    }

    to{
        box-shadow:
        0 0 45px #ff6aa6,
        0 0 80px rgba(255,77,136,.45);
    }
}

.profile-name{
    margin-top:18px;
    font-size:42px;
    font-weight:700;
    color:white;
}

.profile-job{
    margin-top:10px;
    color:#d6d6d6;
    font-size:18px;
}

.status-card{

    margin-top:30px;

    padding:18px;

    border-radius:18px;

    background:rgba(255,255,255,.08);

    display:flex;

    align-items:center;

    justify-content:center;

    gap:12px;

}

.online-dot{

    width:14px;

    height:14px;

    border-radius:50%;

    background:#27ff79;

    box-shadow:0 0 15px #27ff79;

    animation:pulse 1.5s infinite;

}

@keyframes pulse{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.35);
    }

    100%{
        transform:scale(1);
    }

}

.views{

    margin-top:28px;

    color:#e6e6e6;

    font-size:26px;

    font-weight:500;

}
