/* ==========================================
   AyaMark v1.0 - Responsive
========================================== */

@media (max-width:768px){

.profile-card{

    width:92%;

    padding:24px;

}

.avatar{

    width:120px;

    height:120px;

}

.music-player{

    width:92%;

}

}

@media (max-width:480px){

.profile-name{

    font-size:32px;

}

.profile-job{

    font-size:15px;

}

.music-title{

    font-size:16px;

}

.music-btn{

    width:44px;

    height:44px;

}

.enter-btn{

    width:100%;

}

}

@media (min-width:1200px){

.profile-card{

    max-width:480px;

}

}
